@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root,
[data-bs-theme=light] {
  --bs-primary: #2e483a;
  --bs-primary-rgb: 46, 72, 58;
  --bs-body-bg: #F6F3ED;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2e483a;;
  --bs-btn-border-color: #2e483a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #52866a;
  --bs-btn-hover-border-color: ##2e483a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.navbar-brand {
  color: #F6F3ED;
}

body {
  font-family: "Sarala", sans-serif;
  background-color: #F6F3ED;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#accordion {
  min-width: 350px;
  max-width: 1000px;
  align-items: center;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

ul {
  list-style-type: none;
}

.p-1 {
  padding: 5em;
}

.p-2 {
  padding: 9em;
}

.p-3 {
  padding: 10em;
}

.p-4 {
  padding: 15em;
}

.mt-n1 {
  margin-top: 7rem !important;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}